 body {
     display: grid;
     justify-content: center;
     align-items: center;
     place-items: center;
     margin-top: -5%;
 }

 span {
     position: relative;
     top: 90%;

 }



 .login {
     color: gold;
     position: relative;
     left: 15%;
 }

 .signup {
     color: gold;
     position: relative;
     left: 60%;
 }

 .underline {
     background-color: gold;
     width: 50px;
     height: 0.5vh;
     position: relative;
     left: 13%;
     margin-top: 7%;
 }

 .head {
     color: gold;
     padding: 0;
     display: flex;
     margin-top: -10px;
 }

 .input,
 .inpt {
     border: 3px solid gold;
     height: 7vh;
     border-radius: 50px;
     margin-top: -500px;
     width: 90%;
     margin-bottom: 10px;

     &:hover {
         border: 2px solid black;
     }
 }

 .button,
 .button2 {
     border: 2px solid grey;
     width: 80%;
     height: 7vh;
     background-color: gold;
     border-radius: 50px;
     margin-left: 6.5%;
     font-weight: 700;
     font-size: 20px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

     &:hover {
         background-color: black;
         color: azure;

     }

     &:active {
         color: black;
         background-color: white;
     }
 }

 .container {
     box-shadow: 20px 20px 20px 20px gray;
     border-radius: 20px;
     background-color: black;
     display: grid;
     justify-content: center;
     align-items: center;
     height: 50%;
     width: 80%;
     padding: 30px;
     overflow: hidden;
     margin-top: 0;

 }

 .signupSetup {
     position: relative;
     bottom: 39%;
     left: 120%;
     width: 100%;
     opacity: 1;
 }

 .loginSetup {
     margin-bottom: 20px;
     position: relative;
     top: 50px;
 }

 .translate {
     transform: translateX(310%);
     transition: transform 0.4s;
 }

 .translateBack {
     transform: translateX(-0.01rem);
     transition: transform 0.4s;
 }

 @media (min-width: 1025px) {
     .translate {
         transform: translateX(410%);
         transition: transform 0.4s;
     }

     .translateBack {
         transform: translateX(-0.01rem);
         transition: transform 0.4s;
     }
 }

 @media (min-width: 601px) and (max-width: 1024px) {
     .translate {
         transform: translateX(410%);
         transition: transform 0.4s;
     }

     .translateBack {
         transform: translateX(-0.01rem);
         transition: transform 0.4s;
     }
 }

 @media (min-width: 321px) and (max-width: 600px) {
     .translate {
         transform: translateX(410%);
         transition: transform 0.4s;
     }

     .translateBack {
         transform: translateX(-0.01rem);
         transition: transform 0.4s;
     }
 }

 .transform {
     transform: translateX(-400px);
     opacity: 0;
     transition: transform 0.7s, opacity 0.2s ease-out;
 }

 .transformBack {
     transform: translateX(1px);
     opacity: 1;
     transition: transform 0.7s, opacity 0.2s ease-in;
 }

 .switch {
     transform: translateX(-120%);
     opacity: 1;
     transition: transform 0.7s, opacity 0.2s ease-in;
 }

 .unswitch {
     transform: translateX(100px);
     opacity: 0;
     transition: transform 0.7s, opacity 0.2s ease-out;
 }

 .size {
     height: 75%;
     transition: height 0.2s ease-in;
 }

 .unsize {
     height: 52%;
     transition: height 0.2s ease-out;
 }

 .body {
     margin-top: -5%;
     transition: margin-top 0.3s ease-out;
 }

 .bodyR {
     /*margin-top: 10%;
     transition: margin-top 0.3s ease-in;*/
 }
 

